<%- include('partials/header') %>

<div style="text-align: center;padding: 10%;"><h1>Please Check your email for Verification</h1><p>Note: Check your spam, if you don't find verification mail in your inbox</p></div>

<%- include("partials/footer") %>