<%- include("partials/header") %>
<br>
<br>
<form action="/forgot" method="POST">
    <input type="text" placeholder="enter email address" name="username">
    <button type="submit">Send reset Code</button>
</form>


<%- include("partials/footer") %>