<%- include("partials/header") %>


    <div id="logreg-forms">
        <form action="/resetpassword" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Reset Password</h1>
           
        
          
           
            <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <input name="password" type="password" id="password" class="form-control" placeholder="New Password" required="" onkeyup='check();'>
            <input type="password" name="confirm_password" class="form-control"  placeholder="Confirm New Password"  id="confirm_password" required=""  onkeyup='check();' /> 
            <span id='message'></span>
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign Up</button>
            
            
            <!-- <p>Don't have an account!</p>  -->
            
            </form>          
    </div>

    <script>
      var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Not matching';
  }
}
    </script>


    

    <%- include("partials/footer") %>